<h1>Create a new retailer</h1>

<%= render partial: "partials/error_list", locals: {new_object: @retailer} %>

<%= form_for @retailer do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :year_established %>
    <%= f.number_field :year_established %>

    <h2>Snacks</h2>
        <% 3.times do %>
            <div>
                <%= f.fields_for :snacks do |snack| %>
                    <%= snack.label :name %>
                    <%= snack.text_field :name %>
                    <%= snack.label :calories %>
                    <%= snack.number_field :calories %>
                    <%= snack.label :deliciousness %>
                    <%= snack.select :deliciousness, (1..10) %>
                <% end %>
            </div>
        <% end %>
    <%= f.submit %>
<% end %>