<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<h1>Login</h1>

<div class="error"> <%= flash.notice %></div>

<%= form_tag "/login" do %>
    <%= label :username, "Username" %>
    <%= text_field_tag :username %>
    <%= submit_tag "Login" %>
<% end %>