<div class="container">

  <div class="text-center">
    <img src=<%=@sea.image_url%> class="img-fluid" style="width: 40vw" alt="me">
    <h2 class="text-center"><%= @sea.name %> </h2>
    <p><%= @sea.bio %></p>
    <button class="btn btn-info" style="margin: 1em"><a href="/seas/<%=@sea.id%>/edit">Edit</a></button><button class="btn btn-info" style="margin: 1em"><a href="/seas">Back</a></button>

    <div>
      <ul class="list-group">
        <li class="list-group-item">Temperature: <%= @sea.temperature %>&#176 F</li>
        <li class="list-group-item">Favorite Color: <%= @sea.favorite_color %></li>
        <li class="list-group-item">Scariest Creature: <%= @sea.scariest_creature %></li>
        <li class="list-group-item">Mood: <%= @sea.mood %></li>
        <% if @sea.has_mermaids %>
          <li class="list-group-item">Has Mermaids</li>
        <% end %>
      </ul>
    </div>
  </div>



</div>
